<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Document</title>
</head>

<body>
  <script>
  </script>
  <div>
    <a href="/boards/qna/write">글쓰기</a>
  </div>
  <div>
    <table id="user-list">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < data.length; i++ ) { %>
          <tr>
            <td onclick="cmt('<%= data[i].id %>')">
              <%= data[i].id %>
            </td>
            <td><a href="/boards/qna/<%= data[i].id %>" onclick="verify('<%= data[i].writer %>')">
                <%= data[i].title %>
              </a></td>
            <td class="writer">
              <%= data[i].writer %>
            </td>
            <td>
              <%= data[i].createdAt.toLocaleString('ko-KR', { year: 'numeric' , month: '2-digit' , day: '2-digit' ,
                hour: '2-digit' , minute: '2-digit' , hour12: false }) %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  <br>
  <!-- <div>
    <form id="comment-form">
      <fieldset>
        <legend>댓글 등록</legend>
        <div>
          <input type="text" id="cmtid" placeholder="게시글 번호">
        </div>
        <div>
          <input type="text" id="comment" placeholder="댓글">
        </div>
        <button type="button" onclick="register()">등록</button>
      </fieldset>
    </form> -->
  </div>
  </table>
  <script>
    const cmtid=document.querySelector('#cmtid');
    const comment=document.querySelector('#comment')

    // async function verify(writer) {
    //   const token = window.localStorage.getItem('token')
    //   //const id=document.querySelector('#writer')
    //   const data = {
    //     token, writer
    //   }
    //   try {
    //     const res = await axios({
    //       method: 'POST',
    //       url: "/boards/verify",
    //       data
    //     })
    //     console.log(res.data.data);
    //     if (!res.data.data) {
    //       alert(`${res.data.message}`)
    //       document.location.href = '/boards/qna'
    //     }

    //   } catch (error) {

    //   }
    // }
    async function cmt(id){
      const data={id}
      console.log(id)
      try {
        const res=await axios({
        method:'POST',
        url:'/boards/list',
        data
      })
        cmtid.value=`${res.data.data}` 
      } catch (error) {
        console.log(error)
      }
    }

    async function register() {
      const data={
        id:cmtid.value,
        comment:comment.value
      }
      try {
        const res=await axios({
          method:'POST',
          url:'/boards/register',
          data,
        })
        console.log(`${res.data.data}번 게시물에 대한 댓글:${res.data.message}`)
      } catch (error) {
        
      }
    }
  </script>

</body>

</html>