<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="icon" href="/images/7Tf1NS6R.ico" type="image/x-icon" sizes="32x32">
  <link rel="stylesheet" href="/css/qnaList.css">
  <link rel="stylesheet" href="/css/header.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> -->
  <title>Q&A</title>
</head>

<body>
  <!-- Header -->
  <nav class="navbar">
    <div class="navber__logo">
      <a href="/"><img class="logo" src="/images/logo-removebg.png" alt="logo"></a>
    </div>
    
    <ul class="navbar__menu">
      <li><a href="/mate">산책메이트 찾기</a></li>
      <li><a href="/hospital">병원 찾아가기</a></li>
      <li><a href="/share">용품나눔</a></li>
      <li><a href="/boards/qna">Q&A</a></li>
    </ul>

    <div class="navber__login">
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/signup">회원가입</a></li>
    </div>
  </nav>

  <div class="main__container">
  <main>
    <h1>Q&A 게시판</h1>
    <div class="btn-container">
      <a href="/boards/qna/write" class="btn">글쓰기</a>
    </div>
    <table id="user-list">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < data.length; i++ ) { %>
          <tr>
            <td class="id" onclick="cmt('<%= data[i].id %>')">
              <%= data[i].id %>
            </td>
            <td><a href="/boards/qna/<%= data[i].id %>" onclick="verify('<%= data[i].writer %>')">
                <%= data[i].title %>
              </a></td>
            <td class="writer">
              <%= data[i].writer %>
            </td>
            <td class="date">
              <%= data[i].createdAt.toLocaleString('ko-KR', { year: 'numeric' , month: '2-digit' , day: '2-digit' ,
                hour: '2-digit' , minute: '2-digit' , hour12: false }) %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </main>
</div>
  <script>
    const cmtid = document.querySelector('#cmtid');
    const comment = document.querySelector('#comment')
    async function cmt(id) {
      const data = { id }
      console.log(id)
      try {
        const res = await axios({
          method: 'POST',
          url: '/boards/list',
          data
        })
        cmtid.value = `${res.data.data}`
      } catch (error) {
        console.log(error)
      }
    }

    async function register() {
      const data = {
        id: cmtid.value,
        comment: comment.value
      }
      try {
        const res = await axios({
          method: 'POST',
          url: '/boards/register',
          data,
        })
        console.log(`${res.data.data}번 게시물에 대한 댓글:${res.data.message}`)
      } catch (error) {

      }
    }
  </script>
</body>

</html>