<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Document</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>

<body>
  <script>
  </script>
  <div>
    <a href="/boards/qna/write">글쓰기</a>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < data.length; i++ ) { %>
        <tr>
            <td><%= data[i].id %></td>
            <td><a href="/boards/qna/<%= data[i].id %>"><%= data[i].title %></a></td>
            <td><%= data[i].writer %></td>
            <td><%= data[i].createdAt.toLocaleString('ko-KR', { 
              year: 'numeric', 
              month: '2-digit', 
              day: '2-digit', 
              hour: '2-digit', 
              minute: '2-digit',
              hour12: false  
            }) %></td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  
  
</body>

</html>

